<p id="notice"><%= notice %></p>

<h1>Authors</h1>
<%== pagy_bootstrap_nav(@pagy) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= link_to 'Show', author %></td>
        <% if author.user.id.eql?(current_user.id) %>
          <td><%= link_to 'Edit', edit_author_path(author) %></td>
          <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.author %>
  <p>you already have an author</p>
<% else %>
  <%= link_to 'New Author', new_author_path %>
<% end %>
