<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>

<hr>
<p><%= @books.count %> books publiched</p>
<%== pagy_bootstrap_nav(@pagy) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <td><%= link_to book.name, book %></td>
    <% end %>
  </tbody>
</table>